.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
    background-color: #38419D;
  }
  
  .nav-link {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }

button {
    background-color: #200E3A;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
  }

  html, body {
    height: 100%;
    background-color: #52D3D8;
    color: #52D3D8;
  } 