<div class="about-container">
    <h2>About Me</h2>
    <p class="about-statement">
        Most of my professional life has been behind the wheel of one truck or another.
        I have always had a passion for coding, and this has lead me on a journey into the
        realm of web development and programming. Some of the technologies and languages I have worked with are:
        </p>
  
    <ul class="technologies-list">
      <li>Angular</li>
      <li>JavaScript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>C#</li>
      <li>Ajax</li>
      <li>Bootstrap</li>
      <!-- Add other technologies as needed -->
    </ul>
  </div>
